
.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.music-player{
    background: #7dacc2;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    color: rgb(56, 99, 123);
    box-shadow: 0 5px 10pc rgba(41, 26, 255, 0.22)
}
.song-img{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #ffffff;
    box-shadow: 0 10px 60px rgba(41, 26, 255, 0.22);
}
.music-player h1{
    font-size: 21px;
    font-weight: 300;
    color: #333;
    margin-top: 20px
}
.music-player p{
    font-size: 15px;
    color: #333;
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #072f5a;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #072f5a;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #ffffff ;
    box-shadow: 0 5px 5px rgba(41, 26, 255, 0.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #072f5a;
    box-shadow: 0 10px 20px rgba(41, 26, 255, 0.22);
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: #072f5a;
    color: #ffffff;
}

.controls div:hover{
    box-shadow: 0 15px 25px rgba(41, 26, 255, 0.32);
    transform: translateY(-3px);
}

.controls div:active{
    transform: translateY(0px);
    box-shadow: 0 5px 10px rgba(41, 26, 255, 0.22);
}

@media (max-width: 500px){
    .music-player{
        width: 90%;
        padding: 20px;
    }
    .song-img{
        width: 180px;
        border-width: 6px;
    }
}
